#collections
#json
#time
#random

numpy
gym
matplotlib
opencv-python
atari-py
torch
# We have torch 1.9.0 and thus only torchvision 0.10.0 is supported.
# See https://pypi.org/project/torchvision/ .
torchvision==0.10.0

# We install this directly via nix and *must not* add it here.
# ale-py
